#search_form {
    display: grid;
    gap: 1rem;
    /* background-color: dimgray; */
    padding: 1rem;
}

#search_input {
    min-width: 50vw;
    max-width: 100px;
    justify-self: center;
    font-size: 16px;
    border-radius: 5px;
    border: 2px rgb(226, 225, 225) solid;
    padding: 5px;
    margin: 0 0 0 0;
}

#search_button_link {
    justify-self: center;
}

#search_button {
    background-color: #494949;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 200px;
}

#search_button:hover {
    background-color: tomato;
    color: white;
}