.verse_card {
    background-color: white;
    padding: 1rem;
    box-shadow: 0px 5px 6px 5px rgba(0,0,0,0.1);
    justify-self: start;
    border-radius: 5px;
}

.verse_order {
    padding: 0;
    margin: 0;
    color: #729ca2;
}

.verse_ref {
    padding: 0;
    margin: 0;
}

.verse_query {
    color: #3b90ff;
}

.scale-in-ver-center {
	-webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  